
a {
    text-decoration:none;
    }
    :root{
        --logo-color:#4D5AE5;
        --navyblue:#2E2F42;
        --main-font: Roboto, sans-serif;
        --white:#FFFFFF;
        --hover-focus-color: #404bbf;
        --cloud:#F4F4FD;
        --additional-info:#434455;
        --style:normal;
    }
    
    body {
    background-color: var(--white);
    color: var(--additional-info);
    font-family: var(--main-font);
    font-style: var(normal);
    }
    
    .list {
        list-style: none;
    }


    .header-logo-link {
        color: var(--logo-color);
        font-family: Raleway, sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 800;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }
    .header-logo-second {
        color: var(--navyblue);
        font-family: Raleway,sans-serif; 
    font-size: 18px;
    font-weight: 800;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    }
    .header-menu-link {
        color: var(--navyblue);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
    .header-menu-link:hover,
    .header-menu-link:focus {
        color: var(--hover-focus-color);
    }

    .link: {
        text-decoration:none;
    }
    .addres-menu-contacts,
    .address-menu-contacts-item {
        color: var(--additional-info);
        font-style: normal;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

    .address-menu-contacts-item:hover,
    .address-menu-contacts-item:focus {
        color: var(--hover-focus-color);
    }

    .portfolio-menu {
        display: none;
    }
    .section-menu-btn-special{
        background-color: var(--hover-focus-color);
        color: var(--white);
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        cursor: pointer;
    }

    .section-menu-btn-special:hover,
    .section-menu-btn-special:focus {
    color: var(--white);
    background-color: var(--hover-focus-color);
    }

    .section-menu-btn {
        background-color: var(--cloud);
        color: var(--logo-color);
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        cursor: pointer;
    }
    
    
    .functional-menu-item{
        color: var(--navyblue);
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
    }
    .functional-info {
    color: var(--additional-info);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    }
    footer {
        background-color: var(--navyblue);
        color: var(--white);
        font-family: 
    }
    
    .footer-logo-link{
        color: var(--white);
        font-family: Raleway, sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 800;
        line-height: 1.16;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }
    .footer-logo-first{
    color: var(--logo-color);
    font-family: Raleway,sans-serif; 
    font-size: 18px;
    font-weight: 800;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    }
